/* 
    Write your CSS here 
    Gap Colour: #000
    White: #F0F1EC
    Red: #E72F24
    Black: #232629
    Blue: #004592
    Yellow: #F9D01E

    For dimensions, see dimensions.png image.
    HINT: Remember you can't change the properties of grid lines.
    But grid lines are transparent!
    */

.container {
    display: grid;
    grid-template-columns: 320px 198px 153px 50px;
    grid-template-rows: 414px 130px 155px 20px;
    width: 748px;
    height: 748px;
}

.container>div {
    background-color: #F0F1EC;
    border: 4.5px solid #232629;
}

.box.red {
    background-color: #E72F24;
    border-top: 0px;
    border-left: 0px;
}

.box.second {
    grid-column: span 3;
    border-top: 0px;
    border-right: 0px;
}

.box.third {
    grid-row: span 2;
    border-left: 0px;
}

.box.fourth {
    grid-row: span 2;
    grid-column: span 2;
}

.box.blue {
    background-color: #004592;
    border-bottom: 10px solid #232629;
    border-right: 0px;
}

.box.fifth {
    grid-row: span 2;
    border-right: 0px;
    border-bottom: 0px;
}

.box.sixth {
    border-left: 0px;
    border-bottom: 0px;
}

.box.yellow {
    background-color: #F9D01E;
    border-bottom: 0px;
}

.box.black {
    background-color: #232629;
    border-bottom: 0px;
}